@page
@model TrainingTracker.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class ="settings-background">

    <div class="settings-panel">



    </div>

</div>



@section Styles {
    <link rel="stylesheet" href="~/css/settings.css" />
}