
.layout-content {
    padding: 0;
    background: transparent;
}

    .layout-content > main {
        padding: 0;
    }

/* Ingen footer på sidan (annars puttar den ner sidan) */
.layout-footer {
    display: none;
}





.index-background {
    height: 100vh;
    width: 100%;
    background-image: url("/images/dashboardpic.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 32px;
}

#activity-calendar {
    width: 300px; /* or any width you prefer */
    margin: 0 auto; /* CENTER the anchor */
}

.activity-day {
    background-color: green !important;
    color: white !important;
    border-radius: 50% !important;
}

.calendar-size {
    width: 25vw;
    height: 50vh;
}

.activities-panel {
    width: 25vw;
    /* height: 50vh; */
    min-width: 200px;
    min-height: fit-content;
}

.calendar-panel {
    text-align: center;
    align-content: center;
    background: transparent;
    color: black;
}

.datepicker {
    transform: scale(1.5);
    transform-origin: top left;
    align-content: center;
}
