

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

.login-background {
    min-height: 100vh;
    width: 100%;
    background-image: url("/images/loginpic.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-card {
    
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px 48px; 
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    max-width: 420px;
    width: 100%;
    color: #111827; 
}


.login-title {
    text-align: center;
    margin-bottom: 24px;
    color: #111827;
    font-weight: 600;
}


.login-card .form-label,
.login-card .form-check-label {
    color: #111827;
}


.login-card .btn-primary {
    background-color: #f26a21;
    border-color: #f26a21;
}

    .login-card .btn-primary:hover {
        background-color: #d95d1d;
        border-color: #d95d1d;
    }


.login-links p {
    margin-bottom: 5px; 
}
