

html, body {
    height: 100%;
    margin: 0;
}


.layout {
    display: flex;
    min-height: 100vh;
}


.layout-sidebar {
    width: 240px;
    background: linear-gradient(180deg, #111827, #0b1220);
    color: #e5e7eb;
    padding: 12px 18px 24px 18px;
}


.layout-content {
    flex: 1;
    background: #f3f4f6;
    padding: 30px 40px;
}


.layout-content-full {
    margin-left: 0;
    padding: 0 !important;
    background: transparent !important;
}



.sidebar-logo {
    margin-bottom: 8px;
    text-align: left;
}

    .sidebar-logo img {
        max-width: 160px;
        height: auto;
    }


.sidebar-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    margin-bottom: 8px;
    border-radius: 12px;
    text-decoration: none;
    color: #e5e7eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

    .sidebar-link i {
        font-size: 18px;
        color: #e5e7eb;
    }


    .sidebar-link:hover {
        background-color: rgba(255, 255, 255, 0.05);
        color: #F27F31;
    }

        .sidebar-link:hover i {
            color: #F27F31;
        }


.sidebar-logout-form {
    margin: 0;
}


.sidebar-logout-button {
    border: none;
    background: none;
    width: 100%;
    color: inherit;
    cursor: pointer;
}


