name: Workflow

on: 
  workflow_dispatch:
  pull_request:
  
    branches: 
      - main

jobs: 
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        os: [ubuntu-latest]
        version: [9.0]
    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ matrix.version}}

      - name: Checkout
        uses: actions/checkout@v5

      - name: Build Solution
        run: dotnet build

      - name: Run tests
        id: test
        run: |
          dotnet test --no-restore --logger "console;verbosity=minimal" > testlog.txt
          # Räkna godkända och failed
          PASSED=$(grep -oP "\d+(?= Passed)" testlog.txt || echo 0)
          FAILED=$(grep -oP "\d+(?= Failed)" testlog.txt || echo 0)
          echo "passed=$PASSED" >> $GITHUB_OUTPUT
          echo "failed=$FAILED" >> $GITHUB_OUTPUT
        env:
          USE_SQLITE: "true"

      - name: Notify Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          curl -X POST \
               -H "Content-Type: application/json" \
               -d "{\"content\":\"Test från GitHub Actions\"}" \
               "$DISCORD_WEBHOOK_URL"
